<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Head Tag -->
	<%- include('partials/head'); %>
</head>

<body>
	<!-- Header And Logo -->
	<%- include('partials/header'); %>

	<!-- Left Nav -->
	<%- include('partials/left-nav'); %>

	<main>
		YOUR CONTENT
	</main>

	<!-- Main javascript -->
	<%- include('partials/main-js'); %>
	<script></script>
</body>

</html>
