<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Head Tag -->
	<%- include('../../partials/head'); %>
	<link rel="stylesheet" href="/css/custome.css">
</head>

<body>
	<!-- Header And Logo -->
	<%- include('../../partials/header'); %>

	<!-- Left Nav -->
	<%- include('../../partials/left-nav'); %>

	<main>
		<!-- Your Content -->
		<h1 class="center">Dashboard</h1>
		<p class="center"><strong>See also:</strong> <a href="https://codepen.io/j_holtslander/pen/YepdOo"
				target="_blank">Materialize - Sidebars (Ultra-wide 21:9)</a></p>
	</main>

	<!-- Main javascript -->
	<%- include('../../partials/main-js'); %>
	<script></script>
</body>

</html>
