<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Head Tag -->
	<%- include('../partials/head', {title: title}); %>
	<link rel="stylesheet" href="/css/custome-input.css" />
</head>

<body>
	<main>
		<!-- Your Content -->
		<div class="container">
			<div class="row">
				<div class="col s12 m6 offset-m3">
					<div class="card">
						<div class="card-content">
							<span class="card-title black-text center-align">Error <%= title %> </span>
							<div class="divider margin--bottom-1"></div>
						</div>
						<div class="card-action light-blue">
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- Main javascript -->
	<%- include('../partials/main-js'); %>
	<script></script>
</body>

</html>
